
/* Main Container*/
body
{
    background: black;
}
.container
{
    width: 445px;
    height: 600px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 10% auto;
    border-radius: 6px;
  
}
/* Progress bar*/
.progress-container
{
    width: 400px;
    margin:auto;
    margin-top: 82px;
    margin-left: auto;
}
    
.progress-selected
{
    display:block;
    position: absolute;
    z-index: 4;
    width: 110px;
    height: 46px;

   margin-top: 2px;
   margin-left: 2px;
}

.offer-links
{
    color:  maroon;
    font-size: 16px;
}

.item-number
{
    display: block;
    background-color: silver;

    color: Black;
    position: absolute;
    z-index: 5;
    width: 110px;
    border: 1px grey #ccc;
    height: 44px;
    font-size: 23px;
    font-family: Arial,Hevetica,sans-serif;
    text-align: center;
    text-decoration: none;
    
    padding-top: 5px ;
    margin-top: 3px;
}
.item-number:nth-child(2){
    margin-left: 114px;
}
.item-number:nth-child(3){
    margin-left: 227px;
}
.main-content{
    width: 90%;
    padding:10px;
    margin-left: 5px;
    height: 459px;
    
    font-size: 15px;
    font-family:  Arial, Helvetica,sans-serif;
    font-style: italic;
    
}
.drop-down{
    margin-top: 10px;
   display: none;
 }
.content-switcher
{
    display: none;
}
.content-switcher:first-child
{
    display:block;
}

.footer
 {
    font: arial helvetica;
    font-size:36px;
    margin: auto;
    width: 99%;
    height: 140px;
    color:  white;
    text-decoration: none;
    background:  #f8f8f8;

 }
.footer-code1
 {
      color: maroon;
      margin: auto;
 
 }
.footer-code2
 {
    text-decoration: none;  
    color: black; 
    margin: auto;
 }
@media ( max-width: 600px)
    {
    .progress-container 
        {
            display:none;
        }
        .drop-down
        {
            margin: auto;
            margin-left: 30%;
            background-color: #f8f8f8;
            display: initial; 
        }
         
         .footer-code1
         {
             margin-left: auto;
             font-size: 14px;
         }
        .footer-code2
         {
             margin: auto;
             font-size: 14px;
         }
        
    }
